$textColor: #333333;
$hoverColor: #EEEEEE;

#video-details {
    .channel,
    .published-date {
        margin-bottom: 10px;
    }
}

#video-list {
    button {
        color: $textColor;
        padding: 10px;
        border: 1px solid $hoverColor;
        text-align: left;
        cursor: pointer;
        width: 100%;

        &:hover {
            text-decoration: none;
            background-color: $hoverColor;
        }
    }
}